header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #ffffff center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.restaurant-bg {
  min-height: 93.5vh;
  padding-bottom: 100px;
  background: #ffffff center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: Cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.7;
}

.search-bar,
.sort-bar {
  max-width: 600px;
  color: #9b4b4b;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.sort-bar {
  color: #838383;
  background-color: #dcdcdc;
}


.form-control::placeholder {
  color: #aaaaaa;
}

.default-select{
  color: #aaaaaa;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.form-title{
  color: rgb(96, 96, 96);
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.rating {
  padding: 6px 12px;
  background-color: #ffb835;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.none-result {
  position: relative;
  /* top: -100px; */
  color: rgb(111, 111, 111);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.add-restaurant {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  font-size: 24px;
  border-radius: 100%;
  z-index: 1;
}

@media screen and (max-width: 575px) {

  .card img{
    height: auto;
  }

  .add-restaurant {
    bottom: 80px;
    right: 44px;
  }

  .sort-bar {
    margin-top: 0px;
  }

}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }

  .card img{
    height: 300px;
  }

  .sort-bar {
    margin-top: 0px;
  }
}

@media screen and (max-width: 992px) {
  .card img{
    height: 160px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 70vw;
  }
  .card img{
    height: 200px;
  }
}